* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;

}

.title {
    margin-top: 6rem;
    color: aqua;
    font-size: 4rem;
}

.container {
    margin: 6rem auto;
}

.square {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border: 1px solid white;
    cursor: pointer;
}

.place-ships {
    display: flex;
    color: rgb(245, 190, 88);
    flex-direction: column;
    margin-bottom: 3rem;
}

.ship-buttons, .select-orient {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.select-orient {
    flex-direction: column;
}

.orient-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.selected {
    background-color: yellow;
}

.placed {
    background-color: rgb(1, 180, 189);
}

.placing {
    background-color: limegreen;
}

.invalid {
    background-color: rgb(232, 82, 82);
}

button {
    color: navy;
    font-weight: bold;
    width: 15ch;
    height: 2rem;
    border: none;
    border-radius: 8px;
}

.boards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 34rem;
    width: 1000px;
    border: 2px solid red;
    background: navy;
    color: white;
    margin: auto;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    gap: 4px;
    margin-top: 1rem;
}


.square.hit {
    background: gray;
}

.square.ship-hit {
    background: red;
}
